type project
owners
    Giacomo Citi
authors 
    Giacomo Citi
projectUrl
    http://github.com/giacomociti/AntaniXml
iconUrl
    https://raw.githubusercontent.com/giacomociti/AntaniXml/master/docs/files/img/logo.png
licenseUrl
    http://github.com/giacomociti/AntaniXml/blob/master/LICENSE.txt
requireLicenseAcceptance
    false
copyright
    Copyright 2015
tags
    random xml xsd fscheck fsharp
summary
    xml random generator
description
    xml random generator based on xsd schema


